body {
  background-color: rgb(236, 236, 236);
}

.container-sm {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  max-width: 780px;
}

.write-btn {
  background-color: #fff;
  display: flex;
  flex: start;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-left: 14px;
  color: rgb(155, 155, 155);
}

.write-btn:hover {
  background-color: rgb(241, 241, 241);
}

.dot-header {
  display: flex;
  justify-content: space-between;
}

.user {
  background-image: url(./assets/download.png);
  background-position: center;
  background-size: 130%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.bi {
  margin-right: 6px;
}
